//
// Alert
//
// Styleguide Alert
//


//
// Severity
//
// Markup:
// <div class="row">
//     <div class="col-md-6">
//         <div class="alert">
//             <div class="alert__icon icon-info-outline"></div>
//             <div class="alert__message">Information (default) <a href="javascript:;">Link</a></div>
//             <a href="javascript:;" class="alert__close icon-close"></a>
//         </div>
//     </div>
//     <div class="col-md-6">
//         <div class="alert alert--success">
//             <div class="alert__icon icon-check-outline"></div>
//             <div class="alert__message">Success <a href="javascript:;">Link</a></div>
//             <a href="javascript:;" class="alert__close icon-close"></a>
//         </div>
//     </div>
//     <div class="col-md-6">
//         <div class="alert alert--warning">
//             <div class="alert__icon icon-warning-outline"></div>
//             <div class="alert__message">Warning <a href="javascript:;">Link</a></div>
//             <a href="javascript:;" class="alert__close icon-close"></a>
//         </div>
//     </div>
//     <div class="col-md-6">
//         <div class="alert alert--danger" role="alert">
//             <div class="alert__icon icon-error-outline"></div>
//             <div class="alert__message">
//                 <span>Danger <a href="javascript:;">Link</a>
//                 <div class="half-margin-top">Make sure to add the ARIA <b>role='alert'</b> for all danger-level alerts</div>
//             </div>
//             <a href="javascript:;" class="alert__close icon-close"></a>
//         </div>
//     </div>
// </div>
//
// Weight: 1
//
// Styleguide Alert.Severity
//


//
// Examples
//
// Markup:
// <div class="row">
//     <div class="col-md-4">
//         <div class="alert alert--success">
//             <div class="alert__icon icon-check-outline"></div>
//             <div class="alert__message">
//                 <div>Successfully Imported 21 Products</div>
//                 <ul class="half-margin-top">
//                     <li>Routers <a href="javascript:;">14</a></li>
//                     <li>Switches <a href="javascript:;">7</a></li>
//                 </ul>
//             </div>
//         </div>
//     </div>
//     <div class="col-md-4">
//         <div class="alert alert--warning">
//             <div class="alert__icon icon-warning-outline"></div>
//             <div class="alert__message">
//                 <h5>Adobe Flash Player Memory Corruption Vulnerability</h5>
//                 <p>A vulnerability in Adobe Flash Player could allow an unauthenticated remote attacker to execute arbitrary code.</p>
//                 <p>
//                     <a href="javascript:;">Click here for details</a>
//                 </p>
//             </div>
//         </div>
//     </div>
//     <div class="col-md-4">
//         <div class="alert alert--danger" role="alert">
//             <div class="alert__icon icon-error-outline"></div>
//             <div class="alert__message">Encountered an error connecting to device <b>RF_Gateway_10</b>. Reason: Codec mismatch. Make sure both sides are using the same codec and version.</div>
//         </div>
//     </div>
// </div>
//
// Weight: 2
//
// Styleguide Alert.Examples
//

.alert {

    @include panel(
        $background: $base-alert-default-background,
        $color: $base-alert-default-color,
        $border-color: $base-alert-default-border-color,
        $border-left-width: 48px,
        $icon-color: $base-alert-default-icon-color
    );
    @include panel-padding();

    // Generate the alert colors from the global variables
    @each $alert-obj in $alert-colors {
        &--#{map-get($alert-obj, name)} {
            @include panel(map-get($alert-obj, params)...);
            .alert__icon {
                @if map-has-nested-keys($alert-obj, 'params', 'icon-color') {
                    color: map-deep-get($alert-obj, 'params', 'icon-color');
                }
            }
        }
    }

    display: inline-flex;
    align-items: center;
    position: relative;
    border-radius: $base-border-radius;
    width: 100%;
    margin: $base-alert-margin;

    &__close {
        font-size: 18px;

        &:hover {
            text-decoration: none;
        }
    }

    &__icon {
        color: $white;
        position: absolute;
        left: -36px;
        top: 10px;
        font-size: $base-alert-icon-size;
    }

    &__icon,
    &__close {
        align-self: flex-start;
    }

    &__message {
        @include flex-fluid;
        @include text-break-word;

        a:hover,
        a:active,
        a:focus {
            color: $hover-link-color;
        }
    }
}
