//
// Breadcrumb
//
// Since 1.0.0<br><br>
//
// Styleguide Components.Breadcrumb
//


//
// Examples
//
// Markup:
// <ul class="breadcrumb">
//     <li><a>Previous Page</a></li>
//     <li><a>Previous Page</a></li>
//     <li><span>Current Page</span></li>
// </ul>
// <br><br>
// <ul class="breadcrumb">
//     <li><a><span class="icon-home"></span></a></li>
//     <li><a>Devices</a></li>
//     <li><span>Cisco Catalyst 3750E</span></li>
// </ul>
//
// Styleguide Components.Breadcrumb.Example
//

.breadcrumb {

    @include clearfix;
    @include list--unstyled;

    margin: 0;
    padding: 0;
    background: 0 none;
    display: inline-flex;

    > li {
        &.active {
            color: $breadcrumb-color;
        }

        + li:before {
            padding: $breadcrumb-padding;
            color: $breadcrumb-color;
            content: '/\00a0';
        }

        span[class^="icon-"] {
            line-height: $base-font-size;
        }
    }
}
